<div class="conteiner__big-card">
  <div class="big-card__photo">
    <img
      src="https://images.hdqwalls.com/wallpapers/iron-man-new-suit-for-avengers-infinity-war-artwork-hk.jpg"
      alt=""
      height="250px"
      width="397px"
      srcset=""
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        bla bla bla blaaaa duewhfduegfuefuefugérgf uirhgurhghrgu3hgu3wd
        wqyidyvfwqydydvefdyef ewbyuv fdv2y 2yvy3 '23 ry2fv4fvr 3ryg
      </a>
    </p>
  </div>
</div>
